<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT umbBlog ANY>
<!ATTLIST umbBlog id ID #REQUIRED>
<!ELEMENT DateFolder ANY>
<!ATTLIST DateFolder id ID #REQUIRED>
<!ELEMENT umbHomepage ANY>
<!ATTLIST umbHomepage id ID #REQUIRED>
<!ELEMENT umbNewsArea ANY>
<!ATTLIST umbNewsArea id ID #REQUIRED>
<!ELEMENT umbNewsArticle ANY>
<!ATTLIST umbNewsArticle id ID #REQUIRED>
<!ELEMENT umbTextpage ANY>
<!ATTLIST umbTextpage id ID #REQUIRED>
<!ELEMENT uBlogsyBaseDocType ANY>
<!ATTLIST uBlogsyBaseDocType id ID #REQUIRED>
<!ELEMENT uBlogsyBasePage ANY>
<!ATTLIST uBlogsyBasePage id ID #REQUIRED>
<!ELEMENT uBlogsy-Category ANY>
<!ATTLIST uBlogsy-Category id ID #REQUIRED>
<!ELEMENT uBlogsyComment ANY>
<!ATTLIST uBlogsyComment id ID #REQUIRED>
<!ELEMENT uBlogsyContainerBlog ANY>
<!ATTLIST uBlogsyContainerBlog id ID #REQUIRED>
<!ELEMENT uBlogsyContainerComment ANY>
<!ATTLIST uBlogsyContainerComment id ID #REQUIRED>
<!ELEMENT uBlogsyContainerEmailTemplate ANY>
<!ATTLIST uBlogsyContainerEmailTemplate id ID #REQUIRED>
<!ELEMENT uBlogsyContainerPage ANY>
<!ATTLIST uBlogsyContainerPage id ID #REQUIRED>
<!ELEMENT uBlogsyEmailTemplate ANY>
<!ATTLIST uBlogsyEmailTemplate id ID #REQUIRED>
<!ELEMENT uBlogsyFolderDay ANY>
<!ATTLIST uBlogsyFolderDay id ID #REQUIRED>
<!ELEMENT uBlogsyFolderMonth ANY>
<!ATTLIST uBlogsyFolderMonth id ID #REQUIRED>
<!ELEMENT uBlogsyFolderYear ANY>
<!ATTLIST uBlogsyFolderYear id ID #REQUIRED>
<!ELEMENT uBlogsyLanding ANY>
<!ATTLIST uBlogsyLanding id ID #REQUIRED>
<!ELEMENT uBlogsyPage ANY>
<!ATTLIST uBlogsyPage id ID #REQUIRED>
<!ELEMENT uBlogsyPost ANY>
<!ATTLIST uBlogsyPost id ID #REQUIRED>
<!ELEMENT uBlogsyRSS ANY>
<!ATTLIST uBlogsyRSS id ID #REQUIRED>

]>
<root id="-1">
  <uBlogsyLanding id="1099" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1094" template="1079" sortOrder="0" createDate="2011-05-15T12:21:13" updateDate="2012-11-02T22:31:36" nodeName="My Blog" urlName="my-blog" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099" isDoc="">
    <uBlogsySpamAutoApproveComments>1</uBlogsySpamAutoApproveComments>
    <uBlogsyRssTitle>My Blog</uBlogsyRssTitle>
    <uBlogsyContactEmail>anthony@yourdomain.com</uBlogsyContactEmail>
    <uBlogsyBlogLinks><![CDATA[http://feeds.feedburner.com/UmbracoBlog
http://feeds.feedburner.com/midcodecrisis
]]></uBlogsyBlogLinks>
    <uBlogsyContentFooter>Created by &lt;a href="http://www.midcodecrisis.com"&gt;Anthony Dang&lt;/a&gt;</uBlogsyContentFooter>
    <uBlogsyContactReplyToEmail>no-reply@yourdomain.com</uBlogsyContactReplyToEmail>
    <uBlogsyContactCommentNotification>1</uBlogsyContactCommentNotification>
    <uBlogsyGeneralDefaultAuthor>Default</uBlogsyGeneralDefaultAuthor>
    <uBlogsySpamAutoDeleteSpam>0</uBlogsySpamAutoDeleteSpam>
    <uBlogsyRssDescription><![CDATA[Description]]></uBlogsyRssDescription>
    <uBlogsyGeneralUseSummary>1</uBlogsyGeneralUseSummary>
    <uBlogsySpamAkismetAPIKey>
    </uBlogsySpamAkismetAPIKey>
    <uBlogsyRssCopyright>Mid-code Crisis</uBlogsyRssCopyright>
    <uBlogsyGeneralShowSocialMedia>1</uBlogsyGeneralShowSocialMedia>
    <uBlogsySpamDisableComments>0</uBlogsySpamDisableComments>
    <uBlogsyGeneralUseTitleAsNodeName>1</uBlogsyGeneralUseTitleAsNodeName>
    <uBlogsyContentTitle>My Blog Title</uBlogsyContentTitle>
    <uBlogsySeoKeywords>Keywords</uBlogsySeoKeywords>
    <uBlogsySeoDescription><![CDATA[Description]]></uBlogsySeoDescription>
    <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
    <uBlogsyContentBody><![CDATA[
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Vestibulum nec sagittis risus. Cum sociis natoque penatibus et
magnis dis parturient montes, nascetur ridiculus mus. In sagittis
nibh vitae justo aliquam feugiat. Proin risus sem, lobortis eu
lacinia condimentum, consequat ut nulla. Aliquam tempus libero eu
est tristique at interdum nisi dapibus. Quisque vitae eros elit, et
vehicula nulla. Proin massa nisi, vulputate sit amet hendrerit ac,
scelerisque eu orci. Curabitur hendrerit venenatis faucibus. Donec
augue augue, egestas eget condimentum sed, porttitor in lorem.
Aenean aliquam sem sit amet odio adipiscing tincidunt. Aliquam erat
volutpat.&nbsp;</p>
]]></uBlogsyContentBody>
    <umbracoNaviHide>0</umbracoNaviHide>
    <umbracoRedirect>
    </umbracoRedirect>
    <umbracoInternalRedirectId>
    </umbracoInternalRedirectId>
    <umbracoUrlName>
    </umbracoUrlName>
    <umbracoUrlAlias>
    </umbracoUrlAlias>
    <umbTextpage id="1068" parentID="1099" level="2" writerID="0" creatorID="0" nodeType="1059" template="1052" sortOrder="0" createDate="2010-09-07T13:53:39" updateDate="2012-11-02T23:22:06" nodeName="About" urlName="about" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1068" isDoc="">
      <bodyText><![CDATA[]]></bodyText>
      <umbracoNaviHide>
      </umbracoNaviHide>
    </umbTextpage>
    <umbTextpage id="1072" parentID="1099" level="2" writerID="0" creatorID="0" nodeType="1059" template="1052" sortOrder="1" createDate="2010-09-07T13:20:06" updateDate="2012-11-02T23:45:16" nodeName="Contact me" urlName="contact-me" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1072" isDoc="">
      <bodyText><![CDATA[
<h3>Office address</h3>

<p>Company Name<br />
Streetname 3432<br />
DK-9872 City Name</p>

<p>Country</p>

<p><strong>Phone</strong>: +45 3728-282-829</p>

<p><strong>Fax</strong>: &nbsp;+45 3728-282-829</p>

<p>&nbsp;</p>

<h3>Send us an email</h3>

<p>This contact form sends email to the addresse configured on the
macro itself, edit the page in umbraco to change the addresse</p>

<p>Also ensure that your smtp email settings are correct, these are
set in the <strong>web.config</strong> file located in the root of
your website.</p>

<?UMBRACO_MACRO subject="Email from your website"
youremail="name@domain.com" macroAlias="RunwayContactForm"
/>]]></bodyText>
      <umbracoNaviHide>0</umbracoNaviHide>
    </umbTextpage>
    <uBlogsyContainerBlog id="1100" parentID="1099" level="2" writerID="0" creatorID="0" nodeType="1086" template="1078" sortOrder="2" createDate="2011-05-31T13:36:29" updateDate="2012-11-02T23:22:30" nodeName="Posts" urlName="posts" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1100" isDoc="">
      <uBlogsyContentTitle>Posts</uBlogsyContentTitle>
      <uBlogsySeoKeywords>
      </uBlogsySeoKeywords>
      <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
      <uBlogsyContentSummary><![CDATA[Summary]]></uBlogsyContentSummary>
      <uBlogsyContentBody><![CDATA[
<p>This body and title is here in case you want to use this as a
landing page.</p>
]]></uBlogsyContentBody>
      <umbracoNaviHide>1</umbracoNaviHide>
      <umbracoRedirect>
      </umbracoRedirect>
      <umbracoInternalRedirectId>
      </umbracoInternalRedirectId>
      <umbracoUrlName>
      </umbracoUrlName>
      <umbracoUrlAlias>
      </umbracoUrlAlias>
      <uBlogsyFolderYear id="1101" parentID="1100" level="3" writerID="0" creatorID="0" nodeType="1093" template="1078" sortOrder="1" createDate="2011-10-23T15:15:17" updateDate="2012-11-02T22:31:37" nodeName="2010" urlName="2010" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1100,1101" isDoc="">
        <uBlogsyContentTitle>2010</uBlogsyContentTitle>
        <uBlogsySeoKeywords>
        </uBlogsySeoKeywords>
        <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
        <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
        <uBlogsyContentBody><![CDATA[]]></uBlogsyContentBody>
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoRedirect>
        </umbracoRedirect>
        <umbracoInternalRedirectId>
        </umbracoInternalRedirectId>
        <umbracoUrlName>
        </umbracoUrlName>
        <umbracoUrlAlias>
        </umbracoUrlAlias>
      </uBlogsyFolderYear>
      <uBlogsyFolderYear id="1104" parentID="1100" level="3" writerID="0" creatorID="0" nodeType="1093" template="1078" sortOrder="2" createDate="2011-08-06T19:11:16" updateDate="2012-11-02T22:31:37" nodeName="2011" urlName="2011" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1100,1104" isDoc="">
        <uBlogsyContentTitle>
        </uBlogsyContentTitle>
        <uBlogsySeoKeywords>
        </uBlogsySeoKeywords>
        <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
        <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
        <uBlogsyContentBody><![CDATA[]]></uBlogsyContentBody>
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoRedirect>
        </umbracoRedirect>
        <umbracoInternalRedirectId>
        </umbracoInternalRedirectId>
        <umbracoUrlName>
        </umbracoUrlName>
        <umbracoUrlAlias>
        </umbracoUrlAlias>
        <uBlogsyFolderMonth id="1105" parentID="1104" level="4" writerID="0" creatorID="0" nodeType="1092" template="1078" sortOrder="1" createDate="2011-10-16T19:04:15" updateDate="2012-11-02T22:31:38" nodeName="01" urlName="01" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1100,1104,1105" isDoc="">
          <uBlogsyContentTitle>
          </uBlogsyContentTitle>
          <uBlogsySeoKeywords>
          </uBlogsySeoKeywords>
          <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
          <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
          <uBlogsyContentBody><![CDATA[]]></uBlogsyContentBody>
          <umbracoNaviHide>0</umbracoNaviHide>
          <umbracoRedirect>
          </umbracoRedirect>
          <umbracoInternalRedirectId>
          </umbracoInternalRedirectId>
          <umbracoUrlName>
          </umbracoUrlName>
          <umbracoUrlAlias>
          </umbracoUrlAlias>
          <uBlogsyFolderDay id="1106" parentID="1105" level="5" writerID="0" creatorID="0" nodeType="1091" template="1078" sortOrder="1" createDate="2011-10-16T19:04:30" updateDate="2012-11-02T22:31:38" nodeName="17" urlName="17" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1100,1104,1105,1106" isDoc="">
            <uBlogsyContentTitle>
            </uBlogsyContentTitle>
            <uBlogsySeoKeywords>
            </uBlogsySeoKeywords>
            <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
            <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
            <uBlogsyContentBody><![CDATA[]]></uBlogsyContentBody>
            <umbracoNaviHide>0</umbracoNaviHide>
            <umbracoRedirect>
            </umbracoRedirect>
            <umbracoInternalRedirectId>
            </umbracoInternalRedirectId>
            <umbracoUrlName>
            </umbracoUrlName>
            <umbracoUrlAlias>
            </umbracoUrlAlias>
          </uBlogsyFolderDay>
        </uBlogsyFolderMonth>
        <uBlogsyFolderMonth id="1108" parentID="1104" level="4" writerID="0" creatorID="0" nodeType="1092" template="1078" sortOrder="2" createDate="2011-10-16T18:56:09" updateDate="2012-11-02T22:31:38" nodeName="02" urlName="02" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1100,1104,1108" isDoc="">
          <uBlogsyContentTitle>
          </uBlogsyContentTitle>
          <uBlogsySeoKeywords>
          </uBlogsySeoKeywords>
          <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
          <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
          <uBlogsyContentBody><![CDATA[]]></uBlogsyContentBody>
          <umbracoNaviHide>0</umbracoNaviHide>
          <umbracoRedirect>
          </umbracoRedirect>
          <umbracoInternalRedirectId>
          </umbracoInternalRedirectId>
          <umbracoUrlName>
          </umbracoUrlName>
          <umbracoUrlAlias>
          </umbracoUrlAlias>
          <uBlogsyFolderDay id="1109" parentID="1108" level="5" writerID="0" creatorID="0" nodeType="1091" template="1078" sortOrder="1" createDate="2011-10-16T18:56:13" updateDate="2012-11-02T22:31:38" nodeName="17" urlName="17" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1100,1104,1108,1109" isDoc="">
            <uBlogsyContentTitle>
            </uBlogsyContentTitle>
            <uBlogsySeoKeywords>
            </uBlogsySeoKeywords>
            <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
            <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
            <uBlogsyContentBody><![CDATA[]]></uBlogsyContentBody>
            <umbracoNaviHide>0</umbracoNaviHide>
            <umbracoRedirect>
            </umbracoRedirect>
            <umbracoInternalRedirectId>
            </umbracoInternalRedirectId>
            <umbracoUrlName>
            </umbracoUrlName>
            <umbracoUrlAlias>
            </umbracoUrlAlias>
          </uBlogsyFolderDay>
        </uBlogsyFolderMonth>
        <uBlogsyFolderMonth id="1111" parentID="1104" level="4" writerID="0" creatorID="0" nodeType="1092" template="1078" sortOrder="3" createDate="2011-10-23T15:21:53" updateDate="2012-11-02T22:31:39" nodeName="03" urlName="03" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1100,1104,1111" isDoc="">
          <uBlogsyContentTitle>
          </uBlogsyContentTitle>
          <uBlogsySeoKeywords>
          </uBlogsySeoKeywords>
          <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
          <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
          <uBlogsyContentBody><![CDATA[]]></uBlogsyContentBody>
          <umbracoNaviHide>0</umbracoNaviHide>
          <umbracoRedirect>
          </umbracoRedirect>
          <umbracoInternalRedirectId>
          </umbracoInternalRedirectId>
          <umbracoUrlName>
          </umbracoUrlName>
          <umbracoUrlAlias>
          </umbracoUrlAlias>
          <uBlogsyFolderDay id="1112" parentID="1111" level="5" writerID="0" creatorID="0" nodeType="1091" template="1078" sortOrder="1" createDate="2011-10-23T15:21:57" updateDate="2012-11-02T22:31:39" nodeName="31" urlName="31" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1100,1104,1111,1112" isDoc="">
            <uBlogsyContentTitle>
            </uBlogsyContentTitle>
            <uBlogsySeoKeywords>
            </uBlogsySeoKeywords>
            <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
            <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
            <uBlogsyContentBody><![CDATA[]]></uBlogsyContentBody>
            <umbracoNaviHide>0</umbracoNaviHide>
            <umbracoRedirect>
            </umbracoRedirect>
            <umbracoInternalRedirectId>
            </umbracoInternalRedirectId>
            <umbracoUrlName>
            </umbracoUrlName>
            <umbracoUrlAlias>
            </umbracoUrlAlias>
          </uBlogsyFolderDay>
        </uBlogsyFolderMonth>
        <uBlogsyFolderMonth id="1114" parentID="1104" level="4" writerID="0" creatorID="0" nodeType="1092" template="1078" sortOrder="4" createDate="2011-08-06T19:11:18" updateDate="2012-11-02T22:31:39" nodeName="08" urlName="08" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1100,1104,1114" isDoc="">
          <uBlogsyContentTitle>
          </uBlogsyContentTitle>
          <uBlogsySeoKeywords>
          </uBlogsySeoKeywords>
          <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
          <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
          <uBlogsyContentBody><![CDATA[]]></uBlogsyContentBody>
          <umbracoNaviHide>0</umbracoNaviHide>
          <umbracoRedirect>
          </umbracoRedirect>
          <umbracoInternalRedirectId>
          </umbracoInternalRedirectId>
          <umbracoUrlName>
          </umbracoUrlName>
          <umbracoUrlAlias>
          </umbracoUrlAlias>
          <uBlogsyFolderDay id="1115" parentID="1114" level="5" writerID="0" creatorID="0" nodeType="1091" template="1078" sortOrder="1" createDate="2011-08-06T19:11:21" updateDate="2012-11-02T22:31:39" nodeName="6" urlName="6" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1100,1104,1114,1115" isDoc="">
            <uBlogsyContentTitle>
            </uBlogsyContentTitle>
            <uBlogsySeoKeywords>
            </uBlogsySeoKeywords>
            <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
            <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
            <uBlogsyContentBody><![CDATA[]]></uBlogsyContentBody>
            <umbracoNaviHide>0</umbracoNaviHide>
            <umbracoRedirect>
            </umbracoRedirect>
            <umbracoInternalRedirectId>
            </umbracoInternalRedirectId>
            <umbracoUrlName>
            </umbracoUrlName>
            <umbracoUrlAlias>
            </umbracoUrlAlias>
          </uBlogsyFolderDay>
          <uBlogsyFolderDay id="1125" parentID="1114" level="5" writerID="0" creatorID="0" nodeType="1091" template="1078" sortOrder="2" createDate="2011-08-06T20:40:46" updateDate="2012-11-02T22:31:40" nodeName="7" urlName="7" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1100,1104,1114,1125" isDoc="">
            <uBlogsyContentTitle>
            </uBlogsyContentTitle>
            <uBlogsySeoKeywords>
            </uBlogsySeoKeywords>
            <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
            <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
            <uBlogsyContentBody><![CDATA[]]></uBlogsyContentBody>
            <umbracoNaviHide>0</umbracoNaviHide>
            <umbracoRedirect>
            </umbracoRedirect>
            <umbracoInternalRedirectId>
            </umbracoInternalRedirectId>
            <umbracoUrlName>
            </umbracoUrlName>
            <umbracoUrlAlias>
            </umbracoUrlAlias>
          </uBlogsyFolderDay>
        </uBlogsyFolderMonth>
        <uBlogsyFolderMonth id="1127" parentID="1104" level="4" writerID="0" creatorID="0" nodeType="1092" template="1078" sortOrder="5" createDate="2011-11-02T17:23:21" updateDate="2012-11-02T22:31:41" nodeName="10" urlName="10" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1100,1104,1127" isDoc="">
          <uBlogsyContentTitle>
          </uBlogsyContentTitle>
          <uBlogsySeoKeywords>
          </uBlogsySeoKeywords>
          <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
          <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
          <uBlogsyContentBody><![CDATA[]]></uBlogsyContentBody>
          <umbracoNaviHide>0</umbracoNaviHide>
          <umbracoRedirect>
          </umbracoRedirect>
          <umbracoInternalRedirectId>
          </umbracoInternalRedirectId>
          <umbracoUrlName>
          </umbracoUrlName>
          <umbracoUrlAlias>
          </umbracoUrlAlias>
          <uBlogsyFolderDay id="1128" parentID="1127" level="5" writerID="0" creatorID="0" nodeType="1091" template="1078" sortOrder="1" createDate="2011-11-02T17:23:25" updateDate="2012-11-02T22:31:41" nodeName="31" urlName="31" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1100,1104,1127,1128" isDoc="">
            <uBlogsyContentTitle>
            </uBlogsyContentTitle>
            <uBlogsySeoKeywords>
            </uBlogsySeoKeywords>
            <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
            <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
            <uBlogsyContentBody><![CDATA[]]></uBlogsyContentBody>
            <umbracoNaviHide>0</umbracoNaviHide>
            <umbracoRedirect>
            </umbracoRedirect>
            <umbracoInternalRedirectId>
            </umbracoInternalRedirectId>
            <umbracoUrlName>
            </umbracoUrlName>
            <umbracoUrlAlias>
            </umbracoUrlAlias>
          </uBlogsyFolderDay>
        </uBlogsyFolderMonth>
      </uBlogsyFolderYear>
      <uBlogsyFolderYear id="1135" parentID="1100" level="3" writerID="0" creatorID="0" nodeType="1093" template="1078" sortOrder="3" createDate="2012-03-15T22:22:37" updateDate="2012-11-02T22:31:42" nodeName="2012" urlName="2012" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1100,1135" isDoc="">
        <uBlogsyContentTitle>2012</uBlogsyContentTitle>
        <uBlogsySeoKeywords>
        </uBlogsySeoKeywords>
        <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
        <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
        <uBlogsyContentBody><![CDATA[]]></uBlogsyContentBody>
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoRedirect>
        </umbracoRedirect>
        <umbracoInternalRedirectId>
        </umbracoInternalRedirectId>
        <umbracoUrlName>
        </umbracoUrlName>
        <umbracoUrlAlias>
        </umbracoUrlAlias>
        <uBlogsyFolderMonth id="1136" parentID="1135" level="4" writerID="0" creatorID="0" nodeType="1092" template="1078" sortOrder="1" createDate="2012-03-15T22:22:38" updateDate="2012-11-02T22:31:42" nodeName="March" urlName="march" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1100,1135,1136" isDoc="">
          <uBlogsyContentTitle>March</uBlogsyContentTitle>
          <uBlogsySeoKeywords>
          </uBlogsySeoKeywords>
          <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
          <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
          <uBlogsyContentBody><![CDATA[]]></uBlogsyContentBody>
          <umbracoNaviHide>0</umbracoNaviHide>
          <umbracoRedirect>
          </umbracoRedirect>
          <umbracoInternalRedirectId>
          </umbracoInternalRedirectId>
          <umbracoUrlName>
          </umbracoUrlName>
          <umbracoUrlAlias>
          </umbracoUrlAlias>
          <uBlogsyFolderDay id="1137" parentID="1136" level="5" writerID="0" creatorID="0" nodeType="1091" template="1078" sortOrder="1" createDate="2012-03-15T22:22:38" updateDate="2012-11-02T22:31:42" nodeName="15" urlName="15" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1100,1135,1136,1137" isDoc="">
            <uBlogsyContentTitle>15</uBlogsyContentTitle>
            <uBlogsySeoKeywords>
            </uBlogsySeoKeywords>
            <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
            <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
            <uBlogsyContentBody><![CDATA[]]></uBlogsyContentBody>
            <umbracoNaviHide>0</umbracoNaviHide>
            <umbracoRedirect>
            </umbracoRedirect>
            <umbracoInternalRedirectId>
            </umbracoInternalRedirectId>
            <umbracoUrlName>
            </umbracoUrlName>
            <umbracoUrlAlias>
            </umbracoUrlAlias>
            <uBlogsyPost id="1161" parentID="1137" level="6" writerID="0" creatorID="0" nodeType="1160" template="1081" sortOrder="1" createDate="2012-11-03T00:25:11" updateDate="2012-11-03T00:25:36" nodeName="trial" urlName="trial" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1100,1135,1136,1137,1161" isDoc="">
              <uBlogsyPostAuthor>
              </uBlogsyPostAuthor>
              <uBlogsyPostDate>2012-11-03T00:00:00</uBlogsyPostDate>
              <uBlogsyPostCategories><![CDATA[]]></uBlogsyPostCategories>
              <uBlogsyPostTags><![CDATA[]]></uBlogsyPostTags>
              <uBlogsyPostDisableComments>0</uBlogsyPostDisableComments>
              <uBlogsyImage>1159</uBlogsyImage>
              <uBlogsyContentTitle>
              </uBlogsyContentTitle>
              <uBlogsySeoKeywords>
              </uBlogsySeoKeywords>
              <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
              <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
              <uBlogsyContentBody><![CDATA[]]></uBlogsyContentBody>
              <umbracoNaviHide>0</umbracoNaviHide>
              <umbracoRedirect>
              </umbracoRedirect>
              <umbracoInternalRedirectId>
              </umbracoInternalRedirectId>
              <umbracoUrlName>
              </umbracoUrlName>
              <umbracoUrlAlias>
              </umbracoUrlAlias>
            </uBlogsyPost>
          </uBlogsyFolderDay>
        </uBlogsyFolderMonth>
      </uBlogsyFolderYear>
    </uBlogsyContainerBlog>
    <uBlogsyContainerPage id="1145" parentID="1099" level="2" writerID="0" creatorID="0" nodeType="1089" template="1078" sortOrder="3" createDate="2011-06-02T10:37:01" updateDate="2012-11-02T23:44:05" nodeName="Pages" urlName="pages" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1145" isDoc="">
      <uBlogsyContentTitle>Pages</uBlogsyContentTitle>
      <uBlogsySeoKeywords>
      </uBlogsySeoKeywords>
      <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
      <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
      <uBlogsyContentBody><![CDATA[
<p>This body and title is here in case you want to use this as a
landing page.</p>
]]></uBlogsyContentBody>
      <umbracoNaviHide>1</umbracoNaviHide>
      <umbracoRedirect>
      </umbracoRedirect>
      <umbracoInternalRedirectId>
      </umbracoInternalRedirectId>
      <umbracoUrlName>
      </umbracoUrlName>
      <umbracoUrlAlias>
      </umbracoUrlAlias>
      <uBlogsyPage id="1146" parentID="1145" level="3" writerID="0" creatorID="0" nodeType="1095" template="1080" sortOrder="1" createDate="2011-05-28T02:38:25" updateDate="2012-11-02T22:31:43" nodeName="About" urlName="about" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1145,1146" isDoc="">
        <uBlogsyContentTitle>About</uBlogsyContentTitle>
        <uBlogsySeoKeywords>
        </uBlogsySeoKeywords>
        <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
        <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
        <uBlogsyContentBody><![CDATA[
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nibh
massa, ornare ac tempor in, elementum ut sem. Fusce nisl urna,
auctor eu varius vel, mattis eu sapien. Sed venenatis facilisis
ligula, vitae adipiscing nulla scelerisque eget. Nulla facilisi.
Aliquam rutrum sollicitudin erat, non consectetur nunc rutrum sit
amet. Proin sit amet elit eget metus fermentum laoreet eu non
ipsum. Vivamus non est nibh, non congue turpis. Pellentesque tempus
vehicula diam ut tincidunt. Fusce sem diam, vestibulum quis
faucibus sit amet, tincidunt id mi. Donec scelerisque blandit
suscipit. Class aptent taciti sociosqu ad litora torquent per
conubia nostra, per inceptos himenaeos.</p>

<p>Duis eget elementum libero. Donec in erat erat, vel convallis
diam. Nulla facilisi. Vivamus adipiscing pellentesque facilisis.
Nullam convallis nunc ac metus facilisis dapibus. Suspendisse
potenti. Phasellus dictum arcu ac velit hendrerit non facilisis
erat dignissim. Vestibulum ante ipsum primis in faucibus orci
luctus et ultrices posuere cubilia Curae; Sed vitae ante non magna
mollis varius at at nisi. Suspendisse sagittis dignissim mi vel
adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing
elit. Sed porttitor viverra congue. Ut sollicitudin enim quis orci
scelerisque quis fringilla lorem fringilla. Integer urna leo,
aliquam vel sollicitudin eget, facilisis id orci. Ut mollis libero
nunc. Integer tortor nisi, aliquet non fermentum ac, bibendum in
eros. Mauris aliquet arcu quis enim tincidunt venenatis. Vestibulum
tincidunt ullamcorper nulla id blandit. Nam vitae quam id nisi
aliquet malesuada malesuada sed eros. Aenean faucibus tempus enim
sed pretium.</p>

<p>Cras malesuada magna ut elit condimentum mattis. Vestibulum eu
risus ante, quis preti</p>
]]></uBlogsyContentBody>
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoRedirect>
        </umbracoRedirect>
        <umbracoInternalRedirectId>
        </umbracoInternalRedirectId>
        <umbracoUrlName>
        </umbracoUrlName>
        <umbracoUrlAlias>
        </umbracoUrlAlias>
      </uBlogsyPage>
      <uBlogsyPage id="1147" parentID="1145" level="3" writerID="0" creatorID="0" nodeType="1095" template="1080" sortOrder="2" createDate="2011-05-28T17:48:11" updateDate="2012-11-02T22:31:43" nodeName="Contact" urlName="contact" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1145,1147" isDoc="">
        <uBlogsyContentTitle>Contact</uBlogsyContentTitle>
        <uBlogsySeoKeywords>
        </uBlogsySeoKeywords>
        <uBlogsySeoDescription><![CDATA[]]></uBlogsySeoDescription>
        <uBlogsyContentSummary><![CDATA[]]></uBlogsyContentSummary>
        <uBlogsyContentBody><![CDATA[
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit
amet eros feugiat dolor ultricies mollis. Suspendisse potenti. Cras
mi nulla, lacinia in mattis sit amet, sagittis sed ipsum.
Pellentesque dapibus, nisl nec aliquam ornare, mi velit convallis
nulla, vitae iaculis nulla ligula eget risus. Class aptent taciti
sociosqu ad litora torquent per conubia nostra, per inceptos
himenaeos. Nunc ultricies libero vitae nisl fringilla pulvinar.
Vivamus tempus dignissim leo vel tempor. Integer vitae massa est.
Duis sed ipsum purus. Vestibulum porta consequat ante, ut egestas
lacus venenatis nec. Sed faucibus massa euismod tortor iaculis
mattis. Pellentesque habitant morbi tristique senectus et netus et
malesuada fames ac turpis egestas. Nullam sit amet ipsum magna,
quis facilisis sem. Suspendisse potenti. Sed quis dolor vel ipsum
commodo porta quis vel nulla. Nullam in aliquet tellus. Curabitur
semper lorem eget lectus adipiscing ac blandit metus malesuada. Ut
cursus varius nisi, vitae bibendum dui vulputate sit amet. Sed vel
nisi nunc.</p>

<p>&nbsp;</p>

<?UMBRACO_MACRO macroAlias="uBlogsyContactForm" />
]]></uBlogsyContentBody>
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoRedirect>
        </umbracoRedirect>
        <umbracoInternalRedirectId>
        </umbracoInternalRedirectId>
        <umbracoUrlName>
        </umbracoUrlName>
        <umbracoUrlAlias>
        </umbracoUrlAlias>
      </uBlogsyPage>
    </uBlogsyContainerPage>
    <uBlogsyRSS id="1148" parentID="1099" level="2" writerID="0" creatorID="0" nodeType="1097" template="1082" sortOrder="4" createDate="2011-05-26T15:33:46" updateDate="2012-11-02T23:44:14" nodeName="rss" urlName="rss" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1148" isDoc="">
      <umbracoNaviHide>1</umbracoNaviHide>
      <umbracoRedirect>
      </umbracoRedirect>
      <umbracoInternalRedirectId>
      </umbracoInternalRedirectId>
      <umbracoUrlName>
      </umbracoUrlName>
      <umbracoUrlAlias>
      </umbracoUrlAlias>
    </uBlogsyRSS>
    <uBlogsyContainerEmailTemplate id="1149" parentID="1099" level="2" writerID="0" creatorID="0" nodeType="1088" template="0" sortOrder="5" createDate="2012-03-15T22:56:05" updateDate="2012-11-02T23:44:23" nodeName="Email Templates" urlName="email-templates" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1149" isDoc="">
      <umbracoNaviHide>1</umbracoNaviHide>
      <umbracoRedirect>
      </umbracoRedirect>
      <umbracoInternalRedirectId>
      </umbracoInternalRedirectId>
      <umbracoUrlName>
      </umbracoUrlName>
      <umbracoUrlAlias>
      </umbracoUrlAlias>
      <uBlogsyEmailTemplate id="1150" parentID="1149" level="3" writerID="0" creatorID="0" nodeType="1090" template="0" sortOrder="1" createDate="2012-03-15T22:56:41" updateDate="2012-11-02T22:31:44" nodeName="Admin Contact" urlName="admin-contact" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1149,1150" isDoc="">
        <uBlogsyEmailTemplateName>AdminContact</uBlogsyEmailTemplateName>
        <uBlogsyEmailContactEmailOverride>
        </uBlogsyEmailContactEmailOverride>
        <uBlogsyEmailReplyToOverride>
        </uBlogsyEmailReplyToOverride>
        <uBlogsyEmailSubject>Contact notification</uBlogsyEmailSubject>
        <uBlogsyEmailBody><![CDATA[
<p>##CommenterName## has sent you a message...</p>

<p>&nbsp;</p>

<p>Sender email: ##CommenterEmail##</p>

<p>Sender website: ##CommenterWebsite##</p>

<p>&nbsp;</p>

<p
style="border-top: 1px dotted lightgrey; border-bottom: 1px dotted lightgrey; padding: 10px 0px;">
<span>"</span>##CommentBody##<span>"</span></p>

<p style="color: lightgrey; font-size: 10px; float: right;">Powered
by uBlogsy and Umbraco</p>
]]></uBlogsyEmailBody>
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoRedirect>
        </umbracoRedirect>
        <umbracoInternalRedirectId>
        </umbracoInternalRedirectId>
        <umbracoUrlName>
        </umbracoUrlName>
        <umbracoUrlAlias>
        </umbracoUrlAlias>
      </uBlogsyEmailTemplate>
      <uBlogsyEmailTemplate id="1151" parentID="1149" level="3" writerID="0" creatorID="0" nodeType="1090" template="0" sortOrder="2" createDate="2012-03-16T00:35:57" updateDate="2012-11-02T22:31:44" nodeName="Admin Comment Notification" urlName="admin-comment-notification" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1149,1151" isDoc="">
        <uBlogsyEmailTemplateName>AdminCommentNotification</uBlogsyEmailTemplateName>
        <uBlogsyEmailContactEmailOverride>contact-override@yourdomain.com</uBlogsyEmailContactEmailOverride>
        <uBlogsyEmailReplyToOverride>reply-to-override@yourdomain.com</uBlogsyEmailReplyToOverride>
        <uBlogsyEmailSubject>Comment notification</uBlogsyEmailSubject>
        <uBlogsyEmailBody><![CDATA[
<p>##CommenterName## has left a comment on the post <a
href="##PostUrl##">##PostTitle##</a>...</p>

<p>&nbsp;</p>

<p>email:&nbsp;<span>&nbsp;##CommenterEmail##</span></p>

<p>&nbsp;</p>

<p><span><br />
</span></p>

<p
style="border-top: 1px dotted lightgrey; border-bottom: 1px dotted lightgrey; padding: 10px 0px;">
<span>"</span>##CommentBody##<span>"</span></p>

<p style="color: grey; font-size: 10px;">If auto publishing of
comments is not enabled, you need to log in to publish the
comment.</p>

<p style="color: lightgrey; font-size: 10px; float: right;">Powered
by uBlogsy and Umbraco</p>
]]></uBlogsyEmailBody>
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoRedirect>
        </umbracoRedirect>
        <umbracoInternalRedirectId>
        </umbracoInternalRedirectId>
        <umbracoUrlName>
        </umbracoUrlName>
        <umbracoUrlAlias>
        </umbracoUrlAlias>
      </uBlogsyEmailTemplate>
      <uBlogsyEmailTemplate id="1152" parentID="1149" level="3" writerID="0" creatorID="0" nodeType="1090" template="0" sortOrder="3" createDate="2012-03-16T00:36:44" updateDate="2012-11-02T22:31:44" nodeName="Comment Notification" urlName="comment-notification" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1099,1149,1152" isDoc="">
        <uBlogsyEmailTemplateName>CommentNotification</uBlogsyEmailTemplateName>
        <uBlogsyEmailContactEmailOverride>
        </uBlogsyEmailContactEmailOverride>
        <uBlogsyEmailReplyToOverride>
        </uBlogsyEmailReplyToOverride>
        <uBlogsyEmailSubject>Comment notification</uBlogsyEmailSubject>
        <uBlogsyEmailBody><![CDATA[
<p>Hi ##RecipientName##</p>

<p>&nbsp;</p>

<p>##CommenterName## has left a comment on the post
"##PostTitle##"...</p>

<p>&nbsp;</p>

<p
style="border-top: 1px dotted lightgrey; border-bottom: 1px dotted lightgrey; padding: 10px 0px;">
<span>"</span>##CommentBody##<span>"</span></p>

<p>Click <a href="##CommentUrl##">here</a> to view and reply.</p>

<p style="border-top: 1px dotted lightgrey;">&nbsp;</p>

<p
style="font-size: 11px; color: lightgrey; padding-top: 0px; margin: top:0px;">
To unsubscribe from notifications click <a
style="color: lightgrey; text-decoration: underline;"
href="##UnsubscribeUrl##">here</a></p>

<p style="color: lightgrey; font-size: 10px; float: right;">Powered
by uBlogsy and Umbraco</p>
]]></uBlogsyEmailBody>
        <umbracoNaviHide>0</umbracoNaviHide>
        <umbracoRedirect>
        </umbracoRedirect>
        <umbracoInternalRedirectId>
        </umbracoInternalRedirectId>
        <umbracoUrlName>
        </umbracoUrlName>
        <umbracoUrlAlias>
        </umbracoUrlAlias>
      </uBlogsyEmailTemplate>
    </uBlogsyContainerEmailTemplate>
  </uBlogsyLanding>
  <umbHomepage id="1061" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1056" template="1046" sortOrder="1" createDate="2010-09-07T13:19:39" updateDate="2012-11-02T22:05:34" nodeName="Business Site" urlName="business-site" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1061" isDoc="">
    <bodyText><![CDATA[<p>The Simple Starter Kit gives you a bare-bones website that introduces you to a set of well-defined conventions for building an Umbraco website.</p>
<p>The Simple website is very basic in form and provided without any design or functionality - unless you add a Skin, of course. By installing the Simple Starter Kit, you'll begin with a minimal site built on best practices. You'll also enjoy the benefits of speaking the same "language" as the rest of the Umbraco community by using common properties and naming conventions.</p>
<p>Now that you know what the Simple site is, it is time to get started using Umbraco.</p>]]></bodyText>
    <siteName>Business site</siteName>
    <siteDescription><![CDATA[Off to a great start]]></siteDescription>
    <umbNewsArea id="1062" parentID="1061" level="2" writerID="0" creatorID="0" nodeType="1057" template="1048" sortOrder="1" createDate="2010-09-07T13:22:05" updateDate="2012-11-02T22:05:34" nodeName="Company News" urlName="company-news" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1061,1062" isDoc="">
      <umbNewsArticle id="1063" parentID="1062" level="3" writerID="0" creatorID="0" nodeType="1058" template="1049" sortOrder="1" createDate="2010-09-07T13:22:21" updateDate="2012-11-02T22:05:34" nodeName="Another record year" urlName="another-record-year" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1061,1062,1063" isDoc="">
        <introduction><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id enim vel metus dignissim fermentum. Donec molestie pulvinar ultricies. Donec ullamcorper facilisis mattis. Sed id condimentum dui. Vivamus ornare congue facilisis. Nulla arcu lorem, sollicitudin at tincidunt nec, congue in dolor. Morbi mattis magna non risus convallis non dignissim sapien dictum.]]></introduction>
        <bodyText><![CDATA[
<p>Nam consectetur risus quis diam dignissim convallis. Donec
congue arcu at ligula venenatis facilisis. Donec tincidunt, augue
vel venenatis suscipit, ipsum orci pretium lacus, et tempor felis
nisi eu diam. Fusce vel turpis quis nisl viverra pharetra sit amet
et risus. Donec interdum ullamcorper sodales. Mauris feugiat velit
rhoncus sapien sagittis venenatis quis non purus. Cras ac arcu
velit.</p>

<p>Class aptent taciti sociosqu ad litora torquent per conubia
nostra, per inceptos himenaeos. Etiam non tortor nec risus laoreet
auctor. Mauris ipsum ligula, suscipit fermentum interdum id,
facilisis eu felis. Proin ut porttitor tortor. Proin quis pulvinar
urna. Nullam cursus feugiat feugiat. Praesent iaculis lacus at arcu
feugiat suscipit. Proin elementum tortor vitae massa euismod
tempus. Donec adipiscing nunc lacinia felis aliquam mattis. Ut
ipsum nisl, ultrices nec vehicula vel, blandit vel nibh. Nam augue
magna, sodales eu consectetur vestibulum, consequat in libero.
Nulla facilisi. Nunc id ligula urna. Sed tempus bibendum eros, a
posuere ante varius eu. Mauris quis neque nec felis laoreet
eleifend. Nullam bibendum molestie bibendum. Aenean vestibulum
sodales orci sed mollis.</p>

<p>Duis tempor scelerisque condimentum. Proin convallis placerat
odio, at dictum risus tempor id. Maecenas vel erat ac enim
convallis vehicula at et mi. Fusce ut faucibus odio. Vestibulum
pharetra mollis sem, at viverra nunc facilisis non. Vivamus
vulputate nibh et ligula dictum interdum. Aenean at libero et quam
ultricies dignissim in id tellus. Curabitur tincidunt nibh
ullamcorper ligula dapibus volutpat. Vestibulum neque augue,
blandit vitae ornare at, facilisis at sapien. Lorem ipsum dolor sit
amet, consectetur adipiscing elit. Curabitur non mollis lacus. Ut
sed pulvinar nulla.</p>
]]></bodyText>
      </umbNewsArticle>
      <umbNewsArticle id="1064" parentID="1062" level="3" writerID="0" creatorID="0" nodeType="1058" template="1049" sortOrder="2" createDate="2010-09-07T13:22:35" updateDate="2012-11-02T22:05:34" nodeName="Finance department news" urlName="finance-department-news" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1061,1062,1064" isDoc="">
        <introduction><![CDATA[Tortor vitae massa euismod tempus. Donec adipiscing nunc lacinia felis aliquam mattis. Ut ipsum nisl, ultrices nec vehicula vel, blandit vel nibh. Nam augue magna, sodales eu consectetur vestibulum, consequat in libero. Nulla facilisi. Nunc id ligula urna.]]></introduction>
        <bodyText><![CDATA[
<p>Class aptent taciti sociosqu ad litora torquent per conubia
nostra, per inceptos himenaeos. Etiam non tortor nec risus laoreet
auctor. Mauris ipsum ligula, suscipit fermentum interdum id,
facilisis eu felis. Proin ut porttitor tortor. Proin quis pulvinar
urna. Nullam cursus feugiat feugiat. Praesent iaculis lacus at arcu
feugiat suscipit. Proin elementum tortor vitae massa euismod
tempus. Donec adipiscing nunc lacinia felis aliquam mattis. Ut
ipsum nisl, ultrices nec vehicula vel, blandit vel nibh. Nam augue
magna, sodales eu consectetur vestibulum, consequat in libero.
Nulla facilisi. Nunc id ligula urna. Sed tempus bibendum eros, a
posuere ante varius eu. Mauris quis neque nec felis laoreet
eleifend. Nullam bibendum molestie bibendum. Aenean vestibulum
sodales orci sed mollis.</p>

<p>Duis tempor scelerisque condimentum. Proin convallis placerat
odio, at dictum risus tempor id. Maecenas vel erat ac enim
convallis vehicula at et mi. Fusce ut faucibus odio. Vestibulum
pharetra mollis sem, at viverra nunc facilisis non. Vivamus
vulputate nibh et ligula dictum interdum. Aenean at libero et quam
ultricies dignissim in id tellus. Curabitur tincidunt nibh
ullamcorper ligula dapibus volutpat. Vestibulum neque augue,
blandit vitae ornare at, facilisis at sapien. Lorem ipsum dolor sit
amet, consectetur adipiscing elit. Curabitur non mollis lacus. Ut
sed pulvinar nulla.</p>

<p>Pellentesque habitant morbi tristique senectus et netus et
malesuada fames ac turpis egestas. Nunc rhoncus neque pellentesque
urna sodales quis rutrum sapien consectetur. Nam consectetur semper
augue sit amet fringilla. Curabitur vel magna rhoncus ipsum
pharetra aliquet. Morbi et molestie justo. Fusce congue tellus
aliquam leo sollicitudin nec bibendum sapien egestas. Pellentesque
nec sapien enim. Phasellus justo leo, congue dapibus euismod id,
luctus ut ante. Curabitur justo metus, faucibus eget placerat sit
amet, fringilla eget urna. Aliquam a leo ipsum.</p>
]]></bodyText>
      </umbNewsArticle>
      <umbNewsArticle id="1065" parentID="1062" level="3" writerID="0" creatorID="0" nodeType="1058" template="1049" sortOrder="3" createDate="2010-09-07T13:22:53" updateDate="2012-11-02T22:05:34" nodeName="Stocks are up" urlName="stocks-are-up" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1061,1062,1065" isDoc="">
        <introduction><![CDATA[Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc rhoncus neque pellentesque urna sodales quis rutrum sapien consectetur. Nam consectetur semper augue sit amet fringilla. Curabitur vel magna rhoncus ipsum pharetra aliquet.]]></introduction>
        <bodyText><![CDATA[
<p>Duis tempor scelerisque condimentum. Proin convallis placerat
odio, at dictum risus tempor id. Maecenas vel erat ac enim
convallis vehicula at et mi. Fusce ut faucibus odio. Vestibulum
pharetra mollis sem, at viverra nunc facilisis non. Vivamus
vulputate nibh et ligula dictum interdum. Aenean at libero et quam
ultricies dignissim in id tellus. Curabitur tincidunt nibh
ullamcorper ligula dapibus volutpat. Vestibulum neque augue,
blandit vitae ornare at, facilisis at sapien. Lorem ipsum dolor sit
amet, consectetur adipiscing elit. Curabitur non mollis lacus. Ut
sed pulvinar nulla.</p>

<p>Pellentesque habitant morbi tristique senectus et netus et
malesuada fames ac turpis egestas. Nunc rhoncus neque pellentesque
urna sodales quis rutrum sapien consectetur. Nam consectetur semper
augue sit amet fringilla. Curabitur vel magna rhoncus ipsum
pharetra aliquet. Morbi et molestie justo. Fusce congue tellus
aliquam leo sollicitudin nec bibendum sapien egestas. Pellentesque
nec sapien enim. Phasellus justo leo, congue dapibus euismod id,
luctus ut ante. Curabitur justo metus, faucibus eget placerat sit
amet, fringilla eget urna. Aliquam a leo ipsum.</p>

<p>In nec tristique odio. Proin fringilla lobortis neque sit amet
dapibus. Maecenas mollis tempor lacus, ac commodo sem condimentum
ac. Nulla facilisi. Duis eleifend placerat laoreet. In fringilla
accumsan leo a laoreet. Sed tincidunt nisl a risus blandit
pellentesque. Mauris in ante ac sapien semper sagittis. Etiam
luctus posuere pulvinar. Sed eros sem, sollicitudin a laoreet non,
ultrices nec nulla. Morbi tempus, nunc ac malesuada tempus, ipsum
neque sodales ipsum, et lacinia libero tellus a risus. Integer sit
amet purus nibh, in aliquam nisi. Curabitur non imperdiet libero.
Quisque magna massa, vestibulum vitae laoreet sit amet, luctus eu
elit. Nam eros mi, consectetur a eleifend sed, tincidunt id
odio.</p>
]]></bodyText>
      </umbNewsArticle>
    </umbNewsArea>
    <umbBlog id="1066" parentID="1061" level="2" writerID="0" creatorID="0" nodeType="1053" template="1047" sortOrder="2" createDate="2010-09-07T13:26:10" updateDate="2012-11-02T22:05:34" nodeName="Company Blog" urlName="company-blog" writerName="Siddharth Pandey" creatorName="Siddharth Pandey" path="-1,1061,1066" isDoc="">
      <siteName>
      </siteName>
      <siteDescription><![CDATA[ ]]></siteDescription>
      <blogroll>
        <links />
      </blogroll>
      <akismetAPIKey>
      </akismetAPIKey>
      <owner><![CDATA[0]]></owner>
      <pingServices>
        <links />
      </pingServices>
      <bodyText><![CDATA[<?UMBRACO_MACRO macroAlias="BlogListPosts" />]]></bodyText>
    </umbBlog>
  </umbHomepage>
</root>